*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: white;
}

.contenedor-total {
    width: 940px;
    margin: auto;
}

.encabezado {
    display: inline-flex;
    /*background-color: rgb(211, 199, 199);*/
    /*border: 1px solid #FF4B2B;*/
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: white;   
    width: 20%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    
}

img {

    position: relative;
    height: 10rem;
    width: 10rem;
    left: 7rem;
    right: 5rem;
    top: 3rem;

}
nav {
    position: absolute;
    top: 15rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    right: 1rem;
    left: 1rem;

}
.a1, .a2, .a3{
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    justify-content:center;
    margin: 3.3rem;
    background-color: white;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    width: 13vw;
    height: 3rem;
    border-radius: 2rem;
    order: 1px solid #FF4B2B;
    background-color: #FF4B2B;

}

.a1:hover {
    background-color: grey;
    transition: 1000ms;
}
.a2:hover {
    background-color: grey;
    transition: 1000ms;
}
.a3:hover {
    background-color: grey;
    transition: 1000ms;
}

main {
    width: 76%;
    height: 100vh;
    background-color: white;
    float: right;
    position: relative;
}

main .titulo {
    text-align: center;
    position: static;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    color: black;
}

main .subtitulo {
    text-decoration: underline;
    text-align: center;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

.formulario {
    width: 600px;
    height: 400px;
    margin-top: 7rem;
    left: 22%;
    top: 12%;
    background-color: #BADAED;
    border-radius: 1rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    order: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    
}

main .formulario, h3 {
    order: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    
}

.formulario span {
    text-align: center;
    margin: 4rem;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    order: 1px solid #FF4B2B;
    background-color: #FF4B2B;
}

.formulario input {
    display: flex;
    flex-direction: column;
    margin-left: 9rem;
    width: 20rem;
    height: 3rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
    outline-color: #BADAED;
}

.formulario label {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 9rem;
    color: white;
    order: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    
}

.labels-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

::-webkit-input-placeholder {
    color: #000;
    opacity: 0.5;
    -webkit-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}
:-moz-placeholder {
    color: #000;
    opacity: 0.5;
    -moz-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}
:-moz-placeholder {
    color: #000;
    opacity: 0.5;
    -moz-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}
::-ms-input-placeholder {  
    color: #000;
    opacity: 0.5;
    -ms-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}
  
  /* Place Holder CSS for Focus */
:hover::-webkit-input-placeholder {
    opacity: 0.75;
    -webkit-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}
:hover:-moz-placeholder {
    opacity: 0.75;
    -moz-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}
:hover::-moz-placeholder {
    opacity: 0.75;
    -moz-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}
:hover:-ms-input-placeholder {  
    opacity: 0.75;
    -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
  
  
  /* Place Holder CSS for Focus */
:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}
:focus:-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}
:focus::-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}
:focus:-ms-input-placeholder {  
    opacity: 0;
    -ms-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

